<div id="nav-wrapper">
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="{% url 'home' %}">Homepage</a></li>
            <!-- <li><a href="{% url 'customer' %}">Left Sidebar</a></li> -->
            <!-- <li class="active"><a href="{% url 'file-form' %}">File Form</a></li> -->
            {% ifequal request.user.groups.all.0.name 'customer' %}
            <li><a href="{% url 'my orders customer' %}">My Orders</a></li>

            {% endifequal %}
            {% ifequal request.user.groups.all.0.name 'trader' %}
            <li><a href="{% url 'my offers' %}">My Offers</a></li>

            {% endifequal %}
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout, {{request.user}}</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'register' 'customer' %}">Register</a></li>
            <li><a href="{% url 'register' 'trader' %}">Register Trader</a></li>
            {% endif %}
        </ul>
    </nav>
</div>