{% extends 'base.html' %}

{% block content %}
<h1>Orders</h1>
<ul>
    {% for order in orders %}
    <li>
        {% if order.id in my_offered_orders_ids %}
    <li>{{ order }} </li>
    {% else %}
    <form action="{% url 'make offer' order.id %}" method="POST">
        {% csrf_token %}
        {{ order }}
        <input id="price" name="price">
        <button type="submit" style="cursor: pointer;">
            submit
        </button>
    </form>
    </li>
    {% endif %}
    {% empty %}
    <li>No orders yet.</li>
    {% endfor %}
</ul>
{% endblock %}