{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Offers for order: {{ object_list.all.0 }}</h1>
<ul>
    {% for offer in object_list %}
    <li class="lobo-li">
        {% if offer.isAccepted %}
        <img class="avatar" src="/media/{{ offer.trader.userprofile.profile_picture }}" />
            {{ offer.trader }} - ${{ offer.price }} - Accepted
        {% else %}
        <div class="card" style="width: 18rem;">
            <img class="avatar" src="/media/{{ offer.trader.userprofile.profile_picture }}" />
            <div class="card-body">
              <p class="card-text">Trader: {{ offer.trader }}</p>
              <p class="card-text">${{ offer.price }}</p>
            </div>
            <form action="{% url 'accept offer' offer.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Accept</button>
          </div>
        <!-- <img class="avatar" src="/media/{{ offer.trader.userprofile.profile_picture }}" />
            {{ offer.trader }} - ${{ offer.price }}
            <form action="{% url 'accept offer' offer.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Accept</button>
            </form> -->
        {% endif %}
    </li>
    {% empty %}
    <li>No orders yet.</li>
    {% endfor %}
</ul>
{% endblock %}