{% extends 'base.html' %}

{% block content %}
<h1>Offers for order: {{ object_list.all.0 }}</h1>
<ul>
    {% for offer in object_list %}
    <li>
        {% if offer.isAccepted %}
            {{ offer.trader }} - ${{ offer.price }} - Accepted
        {% else %}
            {{ offer.trader }} - ${{ offer.price }}
            <form action="{% url 'accept offer' offer.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Accept</button>
            </form>
        {% endif %}
    </li>
    {% empty %}
    <li>No orders yet.</li>
    {% endfor %}
</ul>
{% endblock %}