body{
    background-color: darkslategrey !important;
}

h1{
    text-align: center;
    font: revert;
    margin: 1rem;
    color: whitesmoke;
}

p{
    color: antiquewhite;
}

div .card{
    background-color: burlywood;
}

.avatar{
    width: 2rem;
}

.loc-li{
    display: inline-block;
    margin: 1rem 1rem;
}

.lobo-li{
    display: flex;
    justify-content: center;
}

.lobo-li .card{
    width: 18rem;
    text-align: center;
    border: solid;
    border-radius: 2rem;
}

.lo-ul{
    text-align: center;
    margin-top: 2rem;
}
